body {
    font-family: $paragraph-font-family;
}

.navbar-brand {
    font-family: $font-family-sans-serif;
    font-size: 2rem;

    &:hover {
        color: #ffffff;
    }
}

trix-editor {
    min-height: 400px;
}
.icon-profile{
    width: 20px;
}
