body {
    font-family: $paragraph-font-family;
}

.navbar-brand {
    font-family: $font-family-sans-serif;
    font-size: 2rem;

    &:hover {
        color: #ffffff;
    }
}

trix-editor {
    min-height: 400px;
    height: auto !important;
}

.icon-profile {
    width: 20px;
}

.hero-categories {
    background-image: linear-gradient(to bottom, rgb(70, 70, 70, 0.4), rgb(53, 53, 53, 0.4)), url('../../public/images/bgrecipes.jpg');
    height: 30rem;
    background-size: cover;
    background-position: top center;

}
